

body{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
  color: $gray-dk;
}

p {
  font-size: rem-calc(15);
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.jumbo{
	font-size: 4rem;
	font-family: 'Fredoka One', cursive;
	color: $white;
}

.or-split{
	position: relative;
	width: 95%;
	font-size: 1.25rem;
	color: $gray;
	text-align: center;
	&:before{
		content: '';
		position: absolute;
		top: 50%; left: 0;
		height: 1px;
		width: 45%;
		background-color: $gray;
	}
	&:after{
		content: '';
		position: absolute;
		top: 50%; right: 0;
		height: 1px;
		width: 45%;
		background-color: $gray;
	}
}

