
.chat-view{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $blue-pale;
}
.chat-head{
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $orange;
	padding: .25rem 1rem;
}//chat-head
.chat-head_active{
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}//chat-head
.flip-stat{
	position: relative;
	color: darken($orange, 20%);
	span{
		position: absolute;
		top: -7px;
		right: -9px;
		font-family: 'Fredoka One', cursive;
		font-size: 2.25rem;
		font-weight: 400;
	}
	p{
		font-size: .8rem;
		margin: 0 .5rem;
		color: lighten($orange, 20%);;
	}
	&:last-child{
		span{
			left: -9px;
		}
	}
}
.player-announce{
	height: 0;
	width: 100%;
	background-color: $turq;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: height .2s ease;
	p{
		color: $white;
		margin-left: 1rem;
	}
	&.is-showing{
		height: 50px;
	}
}
.btn-start{
	  padding: .5rem 1rem;
	  background-color: $orange;
	  color: $white;
	  border: 1px solid $white;
	  border-radius: 4px;
}
.chat-messages{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 1rem 0;
	overflow-y: auto; 
}
.chat-form_wrap{
	width: 100%;
	min-height: 47px;
	display: flex;
	justify-content: space-between;
	padding: .5rem;
	border-top: 1px solid darken($blue-pale, 5%);
	background-color: $white;

	>input[type="submit"]{

	}
}

.chat-form{
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	>input[type="text"]{
		//flex-grow: 1;
		border: none;
		padding: 0 2rem;
		font-size: 1.25rem;
		&:focus{
			outline:none;
		}
	}
}
