
.chat-view{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $blue-pale;
}
.chat-head{
	display: block;
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $orange;
	padding: .25rem 1rem;
	transition: min-height .2s ease;
	overflow: hidden;

}//chat-head
.chat-head_inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}//chat-head_inner
.chat-head_active{
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}//chat-head
.flip-stat{
	position: relative;
	color: darken($orange, 22%);
	color: #B23939;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1rem;
	span{
		font-family: 'Fredoka One', cursive;
		font-size: 2.0rem;
		font-weight: 400;
		line-height: 1;
	}
	p{
		font-size: .8rem;
		margin: 0 .5rem;
		color: lighten($orange, 20%);
		font-weight: 600;
	}
}
.player-announce{
	height: 0;
	width: 100%;
	background-color: $turq;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: height .2s ease;
	p{
		color: $white;
		margin-left: 1rem;
		transform: translateX(100%);
		transition: transform .3s ease;
		transition-delay: .3s;

	}
	.bubble-name{
		transform: translateX(-100%);
		transition: transform .3s ease;
		transition-delay: .3s;
	}
	&.is-showing{
		height: 50px;
		p, .bubble-name{
			transform: translateX(0);
		}
	}
}
.btn-start{
	  padding: .5rem 1rem;
	  background-color: $orange;
	  color: $white;
	  font-weight: 600;
	  border: 1px solid $white;
	  border-radius: 4px;
}
.chat-messages{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 1rem 0;
	overflow-y: auto; 
	transform: translateY(0);
	transition: transform .2s ease;
	&.has-focus{
		transform: translateY(-60px);
	}
}
.chat-form_wrap{
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: .5rem;
	border-top: 1px solid darken($blue-pale, 5%);
	background-color: $white;

	>input[type="submit"]{

	}
}

.chat-form{
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	margin-left: .5rem;
	>input[type="text"]{
		//flex-grow: 1;
		border: none;
		padding: 0 .25rem;
		font-size: 1.25rem;
		&:focus{
			outline:none;
		}
	}
}
