.drawer{
	position: absolute;
	top: 0 ; right:0;
	width: 90%;
	height: 100%;
	padding:3rem  2rem;
	background: linear-gradient(to top, rgba(23,114,174,1) 0%, rgba(17,82,125,1) 65%, rgba(13,65,99,1) 100%);
	transform: translateX(100%);
	transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
	&.is-open{
		transform: translateX(0);
	}
}

nav.menu{
	a{
		display: block;
		padding: 1rem .5rem;
		//border-bottom: 1px solid darken($blue-dk, 5%);
		font-size: 1.5rem;
		//font-weight: 600;
		color: $gray-lt;
		letter-spacing: 1px;
	}
}