
.invite-wrap{
	position: relative;
	background-color: rgba($white, 0.7);
	padding: 2rem;
}
.round-select_wrap{
	h1{
		font-family: $font-display;
		font-size: 1.4rem;
		color: $orange;
	}
}

.count-control{
	display: flex;
	flex-direction: column;
	i{
		font-size: 1.5rem;
		color: $orange;
	}
}
.count-selector{
	display: flex;
	align-items: center;
	height: 150px;
}

.count-digit{
	position: relative;
	font-size: 7rem;
	margin: 0 1rem;
	min-width: 110px;
	min-height:  150px;
	flex-grow: 1;
	overflow-y: hidden;
	span{
		position: absolute;
		top: 0%; left: 0;
	}
}

.form-sms{
	width: 100%;
}
.glyph-stop{
	max-width: 50%;
}

.input-inline{
	position: relative;
	display: flex;
	align-items: center;
	margin: 1rem auto;
	padding: 1rem;
	height: 60px;
	width: 100%;
	background-color: $white;
	border: 1px solid $orange;
	border-radius: 4px;
	input[type="tel"]{
		box-sizing: border-box;
		height: 60px;
		flex-shrink: 1;
		border: none;
		outline: none;
		background-color: transparent;
		color: $gray-dk;
		font-weight: 300;
		font-size: 1.5em;
		//letter-spacing: 1px;
		&::placeholder{
			font-size: 1.25rem;
		}
	}
	i{
		font-size: 1.25rem;
		margin-right: .5rem;
		color: $gray;
	}
	.btn-input{
		position: absolute;
		right: 10px;
	}
}

.steps-list{
	width: 100%;
	margin: 1rem 0;
	padding:  1rem;
	border-radius: 4px;
	background-color: $gray-lt;
	h3{
		font-size: 5vw;
		font-weight: 600;
		margin: .5rem;
		color: $orange;
		text-align: center;
		padding-bottom: 1rem;
		border-bottom: 1px solid $turq;
	}
	>img{
		display: inherit;
		max-width: 17%;
		margin: 0 auto;
		text-align: center;
	}
	li{
		display: flex;
		align-items: center;
		margin-bottom:1.25rem;
		color: $gray-dk;
		font-weight: 600;
		span{
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin-right: 1rem;
			border-radius: 50%;
			background-color: $turq;
			color: $white;
			font-family: $font-display;
			text-align: center;
		}
	}
}