

.login-wrap{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.brand-title{
	font-family: 'Fredoka One', cursive;
	color: #FF6B6B;
	font-size: 3.2rem;
	text-align: center;
}

.login-inner{
	width: 100%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	>img{
		max-height: 200px;
	}
	h2{
		font-family: $font-display;
		color: $turq;
		font-size: 9vw;
		text-align: center;
	}
}