

.modal{
	position: absolute;
	top: 0 ; left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: rgba($black, 0.9);
	transform:scale(0);
	z-index: 150;
	opacity: 0;
	transition: transform .2s ease, opacity .25s ease;
	&.is-open{
		transform: scale(1);
		opacity: 1;
	}
	.font-display{
		font-size: 6vw;
	}
}

.room-warning{
	padding: 1rem;
	text-align: center;
	border: 2px solid $gray-lt;
	border-radius: 4px;
	padding: 2rem;
	background-color: rgba($black, 0.5);
	h3{
		font-family: $font-display;
		font-size: 2rem;
		color: $orange;
	}
	p{
		color: $gray-lt;
	}
}