.onboard-wrap{
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0; left: 0;
	background-color: rgba($gray-lt, 1);
	background-size: cover;
	background-position: bottom center;
	padding: 2rem 3rem;
	transition: transform .3s ease;
	p{
		color: $gray-lt;
		font-size: 1.25rem;
	}
	&.is-visible{
		transform: translateY(0);
	}
}