.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.count-enter{
	transition: all .25s;
	transform: translateY(100%);
	&.count-enter-active{
		transform: translateY(0);
	}
}
.count-leave{
	transition: all .25s;
	position: absolute;
	//left:0 ; bottom: 0;
	transform: translateY(0);
	&.count-leave-active{
		transform: translateY(-100%);
	}

}

.bubs-enter{
	transition: all .5s ease;
	transform: scale(0);
	&.bubs-enter-active{
		transform: scale(1);
	}
}
.bubs-leave{
	transition: all .25s;
	//position: absolute;
	//left:0 ; bottom: 0;
	transform: scale(0);
	&.bubs-leave-active{
		transform: scale(1);
	}

}