@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: geometricPrecision; }

a {
  transition: all .3s ease;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

a:hover {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dd {
  -webkit-margin-start: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

a {
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
  text-rendering: geometricPrecision; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none; }

img {
  max-width: 100%; }

::-webkit-scrollbar {
  opacity: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #424242; }

p {
  font-size: 0.9375rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.jumbo {
  font-size: 4rem;
  font-family: 'Fredoka One', cursive;
  color: #FFFFFF;
  text-align: center; }
  .jumbo span {
    display: block; }

.font-display {
  font-family: "Fredoka One", cursive;
  color: #FF6B6B;
  margin-bottom: 2rem; }

.emoji-glyph {
  font-size: 4rem;
  text-align: center; }

.or-split {
  position: relative;
  width: 95%;
  font-size: 1.25rem;
  color: #9B9F9F;
  text-align: center; }
  .or-split:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 45%;
    background-color: #9B9F9F; }
  .or-split:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 45%;
    background-color: #9B9F9F; }

.steps-list {
  margin: 1rem 0; }
  .steps-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    color: #eceff2;
    font-weight: 600; }
    .steps-list li span {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: #41CBCC;
      color: #FFFFFF;
      font-family: "Fredoka One", cursive;
      text-align: center; }

html, body {
  -webkit-overflow-scrolling: touch; }

body {
  width: 100%;
  height: 100vh; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  background-size: cover;
  overflow: hidden; }

#root {
  position: relative;
  width: 100%;
  max-width: 540px;
  height: 100vh;
  background-image: url("/static/media/wallpaper.063f4ab6.png");
  background-repeat: repeat;
  background-position: center center;
  z-index: 10;
  box-shadow: 0px 3px 14px 7px rgba(0, 0, 0, 0.52); }

.safari-mobile #root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; }

.outer-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.inner-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .inner-container.is-center {
    justify-content: center; }

button {
  background-color: transparent;
  outline: none;
  border: none; }

.btn-select {
  display: block;
  margin-bottom: 2rem;
  width: 125px;
  height: 40px;
  line-height: 40px;
  background-color: #009d7e;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: .8rem;
  font-weight: 300;
  transition: all .2s ease; }
  .btn-select:hover {
    background-color: #00846a; }
  .btn-select.is-selected {
    background-color: #009d7e; }

.btn-hint {
  height: 35px;
  margin-left: 1rem;
  padding: 0 .5rem;
  font-size: 1rem;
  font-family: 'Fredoka One', cursive;
  color: #FFFFFF;
  background-color: #41CBCC;
  border-radius: 4px;
  letter-spacing: 1px; }
  .btn-hint:disabled {
    background-color: #bfcfe7; }

.btn-input {
  padding: .5rem 1rem;
  background-color: #FF6B6B;
  font-family: 'Fredoka One', cursive;
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 1;
  -webkit-appearance: none; }

.btn-buy {
  height: 50px;
  width: 100px;
  line-height: 50px;
  margin-left: .5rem;
  border-radius: 4px;
  background-color: #FF6B6B;
  font-family: "Fredoka One", cursive;
  color: #eceff2;
  font-size: 2rem; }

.btn-login {
  width: 95%;
  height: 60px;
  line-height: 60px;
  background-color: #FF6B6B;
  margin-bottom: 1rem;
  border-radius: 3px;
  font-size: 1.15rem;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center; }
  .btn-login span {
    font-size: 2rem;
    vertical-align: middle; }
  .btn-login.is-full {
    display: block; }

.btn-outline {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 2rem;
  background-color: #FF6B6B;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center; }
  .btn-outline.is-full {
    display: block; }

.btn-fbshare {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #0f7aff;
  border-radius: 3px;
  font-size: 1.05rem;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center; }
  .btn-fbshare.is-full {
    display: block; }
  .btn-fbshare > img {
    position: relative;
    left: -10px;
    max-height: 70%;
    vertical-align: middle;
    margin-left: -2rem; }

.btn-round {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: rgba(33, 33, 35, 0.3);
  color: #FFFFFF;
  text-align: center; }
  .btn-round:hover {
    background-color: rgba(33, 33, 35, 0.8); }

.btn-submit {
  width: 100%;
  height: 60px;
  line-height: 52px;
  margin-top: 2.2rem;
  border: 3px solid #646464;
  background-color: transparent;
  color: #646464;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s ease; }
  .btn-submit:hover {
    background-color: #41CBCC;
    border-color: #41CBCC;
    color: #FFFFFF; }

.btn-dismiss {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFFFFF; }
  .btn-dismiss i {
    font-size: 1.5rem; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 .5rem;
  background-color: #41CBCC; }
  .header h3 {
    font-family: "Fredoka One", cursive;
    color: #FFFFFF; }

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 3rem  2rem;
  background-color: #c7f0f0;
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.48);
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .drawer.is-open {
    transform: translateX(0); }

nav.menu a {
  display: block;
  padding: 1rem .5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #32b8b9;
  letter-spacing: 1px; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.count-enter {
  transition: all .25s;
  transform: translateY(100%); }
  .count-enter.count-enter-active {
    transform: translateY(0); }

.count-leave {
  transition: all .25s;
  position: absolute;
  transform: translateY(0); }
  .count-leave.count-leave-active {
    transform: translateY(-100%); }

.bubs-enter {
  transition: all .5s ease;
  transform: scale(0); }
  .bubs-enter.bubs-enter-active {
    transform: scale(1); }

.bubs-leave {
  transition: all .25s;
  transform: scale(0); }
  .bubs-leave.bubs-leave-active {
    transform: scale(1); }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 35, 0.9);
  background-size: cover;
  background-position: center center;
  opacity: 1;
  transition: all .3s ease; }
  .loader p {
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .loader img {
    width: 150px; }
  .loader.is-loading {
    position: fixed;
    background-color: rgba(65, 203, 204, 0.8);
    opacity: 1;
    z-index: 100; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(33, 33, 35, 0.9);
  transform: scale(0);
  z-index: 150;
  opacity: 0;
  transition: transform .2s ease, opacity .25s ease; }
  .modal.is-open {
    transform: scale(1);
    opacity: 1; }

.chat-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e4ebf5; }

.chat-messages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0;
  overflow-y: auto; }

.chat-head {
  display: block;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6B6B;
  padding: .25rem 1rem;
  transition: min-height .2s ease;
  overflow: hidden; }

.chat-head_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.chat-head_active {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.flip-stat {
  position: relative;
  color: #fa0000;
  color: #B23939;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem; }
  .flip-stat.coin-stat {
    min-width: 80px; }
  .flip-stat span {
    font-family: 'Fredoka One', cursive;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 1; }
  .flip-stat p {
    font-size: .8rem;
    margin: 0 .5rem;
    color: #ffd1d1;
    font-weight: 600; }

.player-announce {
  height: 0;
  width: 100%;
  background-color: #41CBCC;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height .2s ease; }
  .player-announce p {
    margin-left: 1rem;
    color: #FFFFFF;
    font-size: 1.1rem;
    transform: translateX(100%);
    transition: transform .3s ease;
    transition-delay: .3s; }
    .player-announce p span {
      font-weight: 600; }
  .player-announce .bubble-name {
    transform: translateX(-100%);
    transition: transform .3s ease;
    transition-delay: .3s; }
  .player-announce.is-showing {
    height: 50px; }
    .player-announce.is-showing p, .player-announce.is-showing .bubble-name {
      transform: translateX(0); }

.btn-start {
  padding: .5rem 1rem;
  background-color: #FF6B6B;
  color: #FFFFFF;
  font-weight: 600;
  border: 1px solid #FFFFFF;
  border-radius: 4px; }

.chat-form_wrap {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-top: 1px solid #d1ddee;
  background-color: #FFFFFF; }

.chat-form {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: .5rem; }
  .chat-form > input[type="text"] {
    border: none;
    padding: 0 .25rem;
    font-size: 1.25rem; }
    .chat-form > input[type="text"]:focus {
      outline: none; }

.chat-bubble {
  position: relative;
  min-width: 24%;
  align-self: flex-end;
  padding: .4rem .8rem;
  margin-bottom: 2rem;
  margin-right: 2.5rem;
  border-radius: 15px;
  background-color: #f7f7f7;
  max-width: 55%;
  font-size: 1.5rem; }
  .chat-bubble.on-left {
    align-self: flex-start;
    margin-left: 2.5rem;
    background-color: #1371ba;
    font-size: 1.1rem;
    color: #FFFFFF; }
    .chat-bubble.on-left em {
      display: block;
      font-style: normal;
      font-weight: 800;
      font-size: 1.3rem; }
    .chat-bubble.on-left .bubble-name {
      bottom: 0px;
      left: -34px; }
  .chat-bubble.is-correct {
    border: 1px solid #009d7e;
    background-color: rgba(0, 157, 126, 0.2);
    font-size: 2rem; }
    .chat-bubble.is-correct:after {
      content: '✔';
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #009d7e;
      font-size: 1.1rem;
      line-height: 30px;
      text-align: center; }
  .chat-bubble.is-wrong {
    border: 1px solid #c9172c;
    background-color: rgba(201, 23, 44, 0.2);
    font-size: 2rem; }
    .chat-bubble.is-wrong:after {
      content: '❌';
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #FFFFFF;
      color: #FFFFFF;
      font-size: 1.1rem;
      line-height: 30px;
      text-align: center; }

.bubble-name {
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 0px;
  right: -35px;
  border-radius: 50%;
  background-size: cover;
  background-color: #FF6B6B; }

.hint-bar {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: #dde5f2; }

.hint-wrap {
  display: flex;
  align-items: center;
  margin-left: 1rem; }

.hint {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: white;
  border: 1px dashed #bfcfe7;
  font-size: 1.3rem; }
  .hint span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-48%, -44%, 0);
    line-height: 1;
    opacity: 0; }

.hint.show-one span:first-child {
  opacity: 1; }

.hint-count {
  padding: 0 .5rem;
  color: #41CBCC;
  font-weight: 600; }

.login-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.brand-title {
  font-family: 'Fredoka One', cursive;
  color: #FF6B6B;
  font-size: 3.2rem;
  text-align: center; }

.avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center center; }
  .avatar.is-md {
    height: 60px;
    width: 60px; }

.mode-select_wrap {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #41CBCC;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }
  .mode-select_wrap h1 {
    font-family: "Fredoka One", cursive;
    color: #41CBCC;
    line-height: 1; }

.mode-select_vs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto; }
  .mode-select_vs .avatar {
    margin: 0 1rem; }

.invite-wrap {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem; }

.round-select_wrap h1 {
  font-family: "Fredoka One", cursive;
  color: #FF6B6B; }

.count-control {
  display: flex;
  flex-direction: column; }
  .count-control i {
    font-size: 1.5rem;
    color: #FF6B6B; }

.count-selector {
  display: flex;
  align-items: center;
  height: 150px; }

.count-digit {
  position: relative;
  font-size: 7rem;
  margin: 0 1rem;
  min-width: 110px;
  min-height: 150px;
  flex-grow: 1;
  overflow-y: hidden; }
  .count-digit span {
    position: absolute;
    top: 0%;
    left: 0; }

.form-sms {
  width: 100%; }

.glyph-stop {
  max-width: 50%; }

.input-inline {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  height: 60px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #FF6B6B;
  border-radius: 4px; }
  .input-inline input[type="tel"] {
    box-sizing: border-box;
    height: 60px;
    flex-shrink: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: #424242;
    font-weight: 300;
    font-size: 1.5em; }
    .input-inline input[type="tel"]::placeholder {
      font-size: 1.25rem; }
  .input-inline i {
    font-size: 1.25rem;
    margin-right: .5rem;
    color: #9B9F9F; }
  .input-inline .btn-input {
    position: absolute;
    right: 10px; }

.onboard-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #eceff2;
  background-size: cover;
  background-position: bottom center;
  padding: 2rem 3rem;
  transition: transform .3s ease; }
  .onboard-wrap p {
    color: #eceff2;
    font-size: 1.25rem; }
  .onboard-wrap.is-visible {
    transform: translateY(0); }

.store-items {
  background-color: #FFFFFF; }

.store-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .store-item:last-child {
    border-bottom: none; }
  .store-item .dotted {
    height: 1px;
    flex-grow: 1;
    border-bottom: 2px dashed #baecec; }
  .store-item h4 {
    font-family: "Fredoka One", cursive;
    font-size: 2rem;
    color: #41CBCC;
    margin-right: .5rem; }

.store-balance {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .store-balance p {
    font-size: 2rem;
    color: #9B9F9F; }
  .store-balance h4 {
    font-family: "Fredoka One", cursive;
    font-size: 2rem;
    color: #424242;
    margin-right: .5rem; }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 35, 0.9);
  background-size: cover;
  background-position: center center;
  opacity: 1;
  transition: all .3s ease; }
  .loader p {
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .loader img {
    width: 150px; }
  .loader.is-loading {
    position: fixed;
    background-color: rgba(65, 203, 204, 0.8);
    opacity: 1;
    z-index: 100; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.count-enter {
  transition: all .25s;
  transform: translateY(100%); }
  .count-enter.count-enter-active {
    transform: translateY(0); }

.count-leave {
  transition: all .25s;
  position: absolute;
  transform: translateY(0); }
  .count-leave.count-leave-active {
    transform: translateY(-100%); }

.bubs-enter {
  transition: all .5s ease;
  transform: scale(0); }
  .bubs-enter.bubs-enter-active {
    transform: scale(1); }

.bubs-leave {
  transition: all .25s;
  transform: scale(0); }
  .bubs-leave.bubs-leave-active {
    transform: scale(1); }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 100; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.15s 0.4s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.1s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.1s; }

.request-prompt_wrap {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #41CBCC;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }
  .request-prompt_wrap h1, .request-prompt_wrap h3 {
    font-family: "Fredoka One", cursive;
    color: #41CBCC;
    line-height: 1; }

.reqPrompt, .reqAnswer {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box; }
