*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: geometricPrecision; }

a {
  transition: all .3s ease;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

a:hover {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dd {
  -webkit-margin-start: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

a {
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
  text-rendering: geometricPrecision; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none; }

img {
  max-width: 100%; }

::-webkit-scrollbar {
  opacity: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #424242; }

p {
  font-size: 0.9375rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.or-split {
  position: relative;
  width: 95%;
  font-size: 1.25rem;
  color: #9B9F9F;
  text-align: center; }
  .or-split:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 45%;
    background-color: #9B9F9F; }
  .or-split:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 45%;
    background-color: #9B9F9F; }

body {
  width: 100%;
  height: 100vh; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  background-size: cover; }

#root {
  width: 100%;
  max-width: 540px;
  height: 100vh;
  background-image: url("/static/media/wallpaper.063f4ab6.png");
  background-repeat: repeat;
  background-position: center center;
  z-index: 10;
  box-shadow: 0px 3px 14px 7px rgba(0, 0, 0, 0.52); }

.inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .inner-container.is-center {
    justify-content: center; }

button {
  background-color: transparent;
  outline: none;
  border: none; }

.btn-select {
  display: block;
  margin-bottom: 2rem;
  width: 125px;
  height: 40px;
  line-height: 40px;
  background-color: #009d7e;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: .8rem;
  font-weight: 300;
  transition: all .2s ease; }
  .btn-select:hover {
    background-color: #00846a; }
  .btn-select.is-selected {
    background-color: #009d7e; }

.btn-hint {
  margin-left: 1rem;
  font-size: 1.65rem;
  font-family: 'Fredoka One', cursive;
  color: #FF6B6B; }

.btn-input {
  padding: .5rem 1rem;
  background-color: #FF6B6B;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  outline: none; }

.btn-login {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #FF6B6B;
  border-radius: 3px;
  font-size: 1rem;
  color: #FFFFFF; }
  .btn-login.is-full {
    display: block; }

.btn-fbshare {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #0f7aff;
  border-radius: 3px;
  font-size: 1.05rem;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center; }
  .btn-fbshare.is-full {
    display: block; }
  .btn-fbshare > img {
    position: relative;
    left: -10px;
    max-height: 70%;
    vertical-align: middle;
    margin-left: -2rem; }

.btn-round {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: rgba(33, 33, 35, 0.3);
  color: #FFFFFF;
  text-align: center; }
  .btn-round:hover {
    background-color: rgba(33, 33, 35, 0.8); }

.btn-submit {
  width: 100%;
  height: 60px;
  line-height: 52px;
  margin-top: 2.2rem;
  border: 3px solid #646464;
  background-color: transparent;
  color: #646464;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s ease; }
  .btn-submit:hover {
    background-color: #1686b0;
    border-color: #1686b0;
    color: #FFFFFF; }

.map-header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(0, 157, 126, 0.85);
  z-index: 10; }
  .map-header .brand {
    max-height: 60px; }

.step {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-right: 2rem; }
  .step span {
    font-weight: 400; }

.first-step {
  margin-left: 330px;
  min-width: 340px; }
  .first-step > img {
    max-height: 40px; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.count-enter {
  transition: all .25s;
  transform: translateY(100%); }
  .count-enter.count-enter-active {
    transform: translateY(0); }

.count-leave {
  transition: all .25s;
  position: absolute;
  transform: translateY(0); }
  .count-leave.count-leave-active {
    transform: translateY(-100%); }

.bubs-enter {
  transition: all .5s ease;
  transform: scale(0); }
  .bubs-enter.bubs-enter-active {
    transform: scale(1); }

.bubs-leave {
  transition: all .25s;
  transform: scale(0); }
  .bubs-leave.bubs-leave-active {
    transform: scale(1); }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 35, 0.9);
  background-size: cover;
  background-position: center center;
  opacity: 1;
  transition: all .3s ease; }
  .loader p {
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .loader img {
    width: 150px; }
  .loader.is-loading {
    position: fixed;
    background-color: rgba(22, 134, 176, 0.8);
    opacity: 1;
    z-index: 100; }

.chat-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e4ebf5; }

.chat-head {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6B6B;
  padding: .25rem 1rem; }

.chat-head_active {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flip-stat {
  position: relative;
  color: #ff0505; }
  .flip-stat span {
    position: absolute;
    top: -7px;
    right: -9px;
    font-family: 'Fredoka One', cursive;
    font-size: 2.25rem;
    font-weight: 400; }
  .flip-stat p {
    font-size: .8rem;
    margin: 0 .5rem;
    color: #ffd1d1; }
  .flip-stat:last-child span {
    left: -9px; }

.btn-start {
  padding: .5rem 1rem;
  background-color: #FF6B6B;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px; }

.chat-messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0;
  overflow-y: auto; }

.chat-form {
  width: 100%;
  min-height: 47px;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-top: 1px solid #d1ddee;
  background-color: #FFFFFF; }
  .chat-form > input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 0 2rem;
    font-size: 1.25rem; }
    .chat-form > input[type="text"]:focus {
      outline: none; }

.chat-bubble {
  position: relative;
  min-width: 24%;
  align-self: flex-end;
  padding: .4rem .6rem;
  margin-bottom: 2rem;
  margin-right: 2.5rem;
  border-radius: 15px;
  background-color: #f7f7f7;
  max-width: 50%;
  font-size: 2rem; }
  .chat-bubble.on-left {
    align-self: flex-start;
    margin-left: 2.5rem;
    background-color: #1371ba;
    font-size: .925rem;
    color: #FFFFFF; }
    .chat-bubble.on-left .bubble-name {
      bottom: 0px;
      left: -34px; }

.bubble-name {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: -35px;
  border-radius: 50%;
  background-size: cover;
  background-color: #FF6B6B; }

.hint-wrap {
  display: flex; }

.hint {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #ff8585;
  border: 1px dashed #ff3838;
  font-size: 2.6rem; }
  .hint span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-48%, -44%, 0);
    line-height: 1;
    opacity: 0; }

.hint.show-one span:first-child {
  opacity: 1; }

.login-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.brand-title {
  font-family: 'Fredoka One', cursive;
  color: #FF6B6B;
  font-size: 3.5rem;
  text-align: center; }

.avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center center; }
  .avatar.is-md {
    height: 55px;
    width: 55px; }

.mode-select_wrap {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }

.mode-select_vs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto; }
  .mode-select_vs .avatar {
    margin: 0 1rem; }

.invite-wrap {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem; }

.count-selector {
  display: flex;
  align-items: center;
  height: 150px;
  overflow: hidden; }
  .count-selector i {
    font-size: 1.5rem;
    color: #FF6B6B; }

.count-digit {
  position: relative;
  font-size: 7rem;
  margin: 0 1rem;
  min-width: 100px;
  min-height: 150px; }
  .count-digit span {
    position: absolute;
    top: 0%;
    left: 27%; }

.form-sms {
  width: 100%; }

.input-inline {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  height: 60px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #FF6B6B;
  border-radius: 4px; }
  .input-inline input[type="tel"] {
    flex-grow: 1;
    max-width: 68%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #424242;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px; }
    .input-inline input[type="tel"]::placeholder {
      font-size: 1rem; }
  .input-inline i {
    font-size: 1.25rem;
    margin-right: .5rem;
    color: #9B9F9F; }

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 35, 0.9);
  background-size: cover;
  background-position: center center;
  opacity: 1;
  transition: all .3s ease; }
  .loader p {
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .loader img {
    width: 150px; }
  .loader.is-loading {
    position: fixed;
    background-color: rgba(22, 134, 176, 0.8);
    opacity: 1;
    z-index: 100; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.count-enter {
  transition: all .25s;
  transform: translateY(100%); }
  .count-enter.count-enter-active {
    transform: translateY(0); }

.count-leave {
  transition: all .25s;
  position: absolute;
  transform: translateY(0); }
  .count-leave.count-leave-active {
    transform: translateY(-100%); }

.bubs-enter {
  transition: all .5s ease;
  transform: scale(0); }
  .bubs-enter.bubs-enter-active {
    transform: scale(1); }

.bubs-leave {
  transition: all .25s;
  transform: scale(0); }
  .bubs-leave.bubs-leave-active {
    transform: scale(1); }
